body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "palt";
  font-size: 1em;
  background-color: #fff4e3;
}

/* ヘッダー */
.header_fixed {
  position: fixed;
  top: 150px;
  left: 100px;
  z-index: 100;
}

.header__container {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 30px;
}

.header__logo {
  margin-bottom: 10px;
}

.header__subtitle {
  font-size: 0.8em;
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.organizer {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 0.9em;
}

/* メインビジュアル */
.opacity0 {
  opacity: 0.5;
}
.main-visual__container {
  display: flex;
  flex-direction: column;
}
.main-visual__container__title {
  display: flex;
}
.main-visual {
  margin: 300px auto 50px auto;
  width: 45%;
}
.main-visual__img {
  width: 100%;
}
.main-visual__img-docor {
  display: none;
}
.main-visual__img-kids {
  display: none;
}
.main-visual__img-parent {
  display: none;
}
.main-visual__text {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}
